.container > * {
    border: 1px solid dodgerblue;
    border-radius: 1rem;
    display: inline-block;
    margin: 0.75rem;
    padding: 0.5rem;
    width: 8rem;
    vertical-align: top;
}
.border {}
#Groups {}