hr {
    margin: 0;
}
h2 {
    padding-left: 1rem;
    margin-bottom: 0;
}
video {
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 1rem;
    width: 100%;
}
.grid-list {
    padding: 2rem 1rem 1rem;
}