<mat-grid-list cols="2" rowHeight="2:1">
  <app-sort
    *ngIf="displaySort"
    class="sort-component"
    [$options]="$options"
  ></app-sort>
  <mat-grid-tile *ngFor="let item of media" class="media-item" [colspan]="1">
    <app-media-card
      *ngIf="checkRoute('kids')"
      class="media-card"
      [source]="item.URL.S" 
      [thumbnail]="item.THUMBNAIL.S"
      [header]="item.TITLE.S"
      (click)="setActive($event)"
    ></app-media-card>
    <app-workout-card
      *ngIf="checkRoute('workouts')"
      class="media-card"
      [title]="item.title"
      [grp]="item.group"
      [cat]="item.category"
      (click)="setActive($event)"
    ></app-workout-card>
  </mat-grid-tile>
</mat-grid-list>
