<common-interstitial *ngIf="auth.authorized && !media.otfVideos" [topic]="interstitial"></common-interstitial>
<media-video-display
    *ngIf="auth.authorized && media.otfVideos"
    [videos]="media.otfVideos | otfVideo"
    [activeVideoUrl]="media.activeOtfVideoUrl | otfUrl"
    [activeVideoTitle]="media.activeOtfVideoTitle"
    [displayFilter]="true"
    [displayControls]="true"
    [$options]="otf.options"
></media-video-display>
<common-error *ngIf="!auth.authorized" [text]="errorText" [allowLogin]=false></common-error>