<div class="container">
  <button *ngIf="!show" id="request-button" (click)="show = !show">Try a Recipe</button>
  <p *ngIf="submitted">Recipe submitted!</p>
</div>
<div *ngIf="show" class="inner-container">
  <form
    [formGroup]="toTryForm"
    (ngSubmit)="onSubmit(toTryForm.value)"
    autocomplete="off"
    novalidate
  >
    <div class="form-group">
      <label for="title">Recipe Title:</label>
      <input
        formControlName="title"
        id="title"
        type="text"
        class="form-control"
        placeholder="Title..."
      />
    </div>
    <div class="form-group">
      <label for="url">Recipe URL:</label>
      <input
        formControlName="url"
        id="url"
        type="text"
        class="form-control"
        placeholder="URL..."
      />
    </div>
    <div class="button-container">
      <button type="submit" class="submit-button" (click)="onSubmit(toTryForm.value); show = !show">Submit</button>
      <button type="text" class="close-button" (click)="show = !show">X Cancel</button>
    </div>
  </form>
</div>
