.container {
    background-color: violet;
}

.text {
    font-size: 1rem;
    border-bottom: 1px solid black;
    margin: 0.5rem;
}
.subheader {
    margin: 0;
}
.subheader-container {
    padding: 0.5rem;
    border-bottom: 1px solid yellow;
}
