.app-body {
    background-color: floralwhite;
    padding-bottom: 4rem;
}
.auth-container {
    display: flexbox;
    align-items: stretch;
    top: 0;
    width: 100%;
}
.footer-container {
    position: sticky;
    bottom: 0;
    margin-top: -4rem;
    width: 100%;
}
