<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Cover Photo" src="../assets/images/birthday_36.jpg">
</div>
<div>
  <app-recipe-list></app-recipe-list>
</div>
<div style="text-align:center">
  <h2>Social Media</h2>
  <ul style="list-style-type:none">
    <li>
      <h2><a target="_blank" rel="noopener" href="https://www.linkedin.com/in/brcornelius/">LinkedIn</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://www.facebook.com/brcornelius86/">Facebook</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://twitter.com/brcornelius">Twitter</a></h2>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
