.footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
    opacity: 0.75;
    padding-top: 1rem;
    height: 100%;
}
.link{
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    text-decoration-line: none;
}
.links{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.copyright{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
}
