.container {
    border: 1px solid dodgerblue;
    border-radius: 1rem;
    padding: 0.5rem;
    min-width: 8rem;
}

.border {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 1rem;
}