<div class="body">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img class="coverPhoto" width="300" alt="Cover Photo" src="https://assets.corneliuses.com/photos/couple/Birthday2020.jpg">
  <p class="about">
    I am a software engineer based out of New Orleans, LA who loves to cook, workout, and build stuff out of legos.
    I am using this quarantine to try new recipes and record those that my family really enjoys.
    Look around the site to see recipes, lego instructions, and workout templates.
    Please email me at brian@corneliuses.com with any comments or suggestions.
  </p>
  <common-auth-button *ngIf="!isAuthorized" (onAuthenticate)="handleAuthenticated($event)"></common-auth-button>
  <common-contact-button></common-contact-button>
</div>
