button {
    border-color: goldenrod;
    border-radius: 15px;
    background-color: dodgerblue;
    color: ghostwhite;
}
.container {
    background-color: crimson;
    height: 1rem;
}
.text {
    color: white;
    font-style: italic;
}