h3 {
    margin: 0;
}

.otf-image {
    background-position: center;
    background-size: 75%;
    background-image: url('https://media.glassdoor.com/sqll/688042/orangetheory-fitness-squarelogo-1566525784057.png');
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}

.cat {
    padding-right: 0.5rem;
    text-align: end;
}

.grp {
    padding-left: 0.5rem;
    text-align: start;
}

.title {
    font-size: 1.5rem;
    text-align: center;
}